header{
	text-align: center;
	margin: 0 auto;
	max-width: 375px;
}

h2{
	color: white;
	font-size: 1.5rem;
}
h2.small-title{
	color: black;
	font-size: 2rem;
	margin-top: 1rem;
}

h3{
	font-size: 14px;
	margin: 0;
	opacity: 0.5;
}


.btn.btn-default.btn-lg{
	background-color: blue;
}

.glyphicon-plane{
	/*font-size: 25px;*/
	color: white;
	font-size: 50px;
}

.glyphicon-home{
	/*font-size: 25px;*/
	color: white;
	font-size: 50px;
}

.homebuttons{
	text-align: center;
}

.container.home{
	margin-top: 2rem;
}
.container.flightinfo-type1{
	margin-top: 80px
}

.row.home{
	margin-top: 3rem;
	text-align: center;
}

.button-type1{

	text-decoration: none;
	color: white;
}

.panel-heading.flighinfo{
	background-color:  ;
	border-bottom: none;
}


img.small-logo{
	margin-top: 0.4rem;
	/*margin-left: 2rem;*/
}
.selectBar{
	margin-bottom: 20px;
	margin-left: 40%; 
}



ul{
	list-style-type: none;
	padding-top:15px;
	
	/*padding-right:5px;*/


}

ul.navBar li{
	display:inline;
	/*padding-right:3px;*/
	float:left;

}

.styled-select select{
	
	 height: 20px;
   
   font-size: 16px;
  
}