<nav class="navbar navbar-default navbar-fixed-top">
  <div class="col-xs-4">
    <img class="small-logo" src="img/logo.png" width="40">

  </div>
  <div class="col-xs-4">
    <h2 class="small-title">Ticket Bird</h2>

  </div>
  <div class="col-xs-4">
      <ul ng-controller="NavCtrl">
        <li ng-repeat="nav in NavBar">
          <a href="#{{nav.LinkName}}">{{nav.name}}</a>

        </li>

      </ul>

    </div>
</nav>

<div class='container flightinfo-type1'>
    <select ng-model="orderProp" class='selectBar'>
      <li class="list-group-item"> 
        <option value="Air_line">Air line</option>
      </li>
      <li class="list-group-item"> 
        <option value="leaving">leaving time</option>
      </li>
      <li class="list-group-item"> 
            <option value="price">price</option>
      </li>
    </select>
  


        <ul class="phones" class="list-group">
          <li class="list-group-item" ng-repeat="info in flightInfo | orderBy:orderProp">
            <span><img class="small-logo" src="img/{{info.image}}"width="80"></span>
            <span>Flight: {{info.Flight}}</span>
            <div>Air line: {{info.Air_line}}</div>
            <span>leaving: {{info.leaving}}</span>
            <h4>price: {{info.price}}</h4>
          </li>
        </ul>
    
    </div>